//Colors
.color-blue { color: $blue; }
// .color-dark-black {color: $dark-black;}
// .color-dark-grey {color: $dark-grey;}
.color-grey { color: $light-grey; }
.color-navyblue { color: $navy-blue; }
.color-grey4 { color: $grey4; }
.color-grey5 { color: $grey5; }
.color-red { color: $red; }

//Background Color
.bg-blue { background-color: $blue; }
.bg-blue3 { background-color: $blue3; }
