<section class="auth-content">
  <div class="auth-overlay  d-flex align-items-center w-100">
  <div class="container">
     <div class="row">
        <div class="col-md-7 col-lg-5 mx-auto px-lg-0">
           <div class="card-container">
              <div class="card-header text-center">
                 <img src="/assets/images/logo.png" routerLink="/login"  class="c-pointer" alt="Angular admin" >
              </div>
              <div class="card-body p20">
                 <div class="row">
                    <div class="col-md-12 col-lg-11 m-auto">
                        <div class="my-2">
                          <h1 class="auth-title text-uppercase">Reset Password</h1>
                        </div>

                        <form name="form"   [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()">
                         <div class="mb-4">
                            <label class="text-white op-90">Password</label>
                            <div class="input-group">
                               <input [type]="PasswordOneType" class="form-control" placeholder="" autocomplete="off" formControlName="password"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; resetpasswordForm.controls.password.errors }">                 
                               <div class="input-group-append c-pointer">
                                  <span class="input-group-text w-41px" (click)='togglePass(1)'>
                                  <em class="fas theme-color"  [ngClass]="{'fa-eye': togglePasswordOne , 'fa-eye-slash': !togglePasswordOne}"></em>
                                </span>
                               </div>
                            </div>
                            <div *ngIf="submitted &amp;&amp; resetpasswordForm.controls.password.errors" class="text-danger">
                              <div *ngIf="resetpasswordForm.controls.password.errors.required">Password is required</div>
                              <span *ngIf="resetpasswordForm.controls.password.errors.minlength">Passwords must contain at least 6 characters & </span> 
                              <span *ngIf="resetpasswordForm.controls.password.errors.pattern">Including uppercase, lowercase letters and numbers.</span> 
                            </div>   
                         </div>

                         <div class="mb-4">
                            <label class="text-white op-90">Confirm Password</label>
                            <div class="input-group">
                               <input [type]="PasswordTwoType" class="form-control" placeholder="" autocomplete="off" formControlName="confirmPassword"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; resetpasswordForm.controls.confirmPassword.errors }">                                    
                               <div class="input-group-append c-pointer">
                                  <span class="input-group-text w-41px" (click)='togglePass(2)'>
                                  <em class="fas  theme-color"  [ngClass]="{'fa-eye': togglePasswordTwo , 'fa-eye-slash': !togglePasswordTwo}"></em>
                                  </span>
                               </div>
                            </div>
                            <div *ngIf="submitted &amp;&amp; resetpasswordForm.controls.confirmPassword.errors" class="text-danger">
                              <div *ngIf="resetpasswordForm.controls.confirmPassword.errors.required">Confirm Password is required</div>
                              <div *ngIf="resetpasswordForm.controls.confirmPassword.errors.mustMatch">Passwords must match</div> 
                            </div>
                         </div>

                         <div class="clerfix pb-1"></div>

                         <button type="submit" class="btn btn-blue btn-block  my-2" >Submit</button>
                          
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
</section>