<section class="auth-content">
    <div class="auth-overlay  d-flex align-items-center w-100">
    <div class="container">
       <div class="row">
          <div class="col-md-7 col-lg-5 mx-auto px-lg-0">
             <div class="card-container">
                <div class="card-header text-center">
                   <img src="./assets/images/logo.png" routerLink="/login"  class="c-pointer" alt="Angular admin" >
                </div>
                <div class="card-body p20">
                   <div class="row">
                      <div class="col-md-12 col-lg-11 m-auto">
                          <div class="my-2">
                            <h1 class="auth-title text-uppercase">Forgot Password ?</h1>
                            <p class="fs14 text-white op-90">We will send you a password reset link to your email address.</p>
                          </div>

                         <form name="form"  [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
                        <div class="mb-2">
                              <label class="text-white op-90">Email</label>
                        <div class="input-group">
                              <input type="email" class="form-control" placeholder="" autocomplete="off" name ="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; forgotpasswordForm.controls.email.errors }"> 
                              <div class="input-group-append">
                              <span class="input-group-text"><em class="fas fa-envelope theme-color"></em></span>
                              </div>                              
                        </div>
                        </div>
                              <div *ngIf="submitted &amp;&amp; forgotpasswordForm.controls.email.errors" class="text-danger">
                                 <div *ngIf="forgotpasswordForm.controls.email.errors.required">Email is required</div>
                                 <div *ngIf="forgotpasswordForm.controls.email.errors.pattern">Please enter valid email</div>
                               </div>
                               <div class="mb34">
                              <a href="javascript:void(0)" routerLink="/reset-password" class="c-pointer color-blue float-right fs12"><u>Resend Email</u></a>            
                           </div>                
                               <button type="submit" class="btn btn-blue btn-block  my-4">Submit</button>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>
  </section>