.mb34 {
  margin-bottom: 34px;
}

.admin-profile {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80px;
  vertical-align: middle;
}

.side-menu-li {
  width: 200px;
  white-space: normal;
  vertical-align: middle;
  word-break: break-all;
}
