//Colors
$blue:#0084ff;
$blue2:#0061c6;
$blue3:#7f9bb9;

$white:#fff;
$dark-black:#1d1d1d;
$grey:#eaeffd;
$grey2:#cbcbcb;
$grey3: #8b8888;
$grey4: #5b5b5b;
$grey5:#262626;
$grey6:#959595;

$dark-grey:#757575;
$gray:#707070;

$light-grey:#acacac;
$light-grey2: #f4f5f9;

$navy-blue:#013974;

$green:#00c507;
$green2:#02a808;
$red:#f44336;
